@charset "utf-8";
/* CSS Document */

*, :before, :after { -webkit-box-sizing: border-box; box-sizing: border-box; }
* { box-sizing: border-box; max-height: 100000px; }
*:before, *:after { box-sizing: border-box; max-height: 100000px; }
*, *:before, *:after { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html, body {}
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body,* { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template, script { display: none; }
a { background-color: transparent; }
a:focus { outline: none; }
a:active, a:hover { outline:none; }
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
ins, a { text-decoration: none; }
pre { white-space: pre-wrap; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -.5em; }
sub { bottom: -.25em; }
img { -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; border: 0; }
input[type=text],textarea{ -webkit-appearance: none;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input[type=radio], input[type=checkbox] { cursor: pointer; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { height: auto; }
input[type=search] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
optgroup { font-weight: 700; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
html {-webkit-tap-highlight-color: transparent;}
body {  background: #fff; font-family:"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;  line-height: 1.5;color: #333;font-size: 0.24rem;overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
body, input, textarea, select, button,samp { /*font-family: "Microsoft YaHei";*/text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga","kern"; }

a {color: #111; }
a:focus { outline: none; outline: 0px auto -webkit-focus-ring-color; outline-offset: -2px; }
ins { background: #ffa; color: #333; }
mark { background: #ffa; color: #333; }
abbr[title], dfn[title] { cursor: help; }
dfn[title] { border-bottom: 1px dotted; font-style: normal; }
p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure {margin:0; padding:0; }
* + p, * + hr, * + ul, * + ol, * + dl, * + blockquote, * + pre, * + address, * + fieldset, * + figure { margin-top:0; }
h1, h2, h3, h4, h5, h6 { margin:0; font-weight: 600; font-size: 100%; }
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 { margin: 0; }
li{list-style:none;}
ul, ol {}
ul > li > ul, ul > li > ol, ol > li > ol, ol > li > ul { margin:0; }
dt { font-weight: 700; }
dt + dd { margin-top: 0; }
dd { margin-left: 0; }
dd + dt { margin-top: 0; }
em{font-style:normal;}
hr { display: block; padding: 0; border: 0; height: 0; border-top: 1px solid #eee; -webkit-box-sizing: content-box; box-sizing: content-box; }
iframe { border: 0; }
button, input:not([type=radio]):not([type=checkbox]), select { vertical-align: middle; }



.wimg{width:100%; display:block;}
/******/
.re { position: relative; }
.ab { position: absolute; }
.fix{position:fixed!important;}
.fr { float: right; }
.fl { float: left; }
.block{display:block!important;}
.dis_n{display:none!important;}
.dis_0{display:none!important;}

.nobg{background:none!important;}
.noborder{border:0!important;}

.underline{text-decoration:underline!important;}

.p_normal{margin:0 !important;}
.p0{padding:0 !important;}

.pr_10{padding-right:10px !important;}
.pr_5{padding-right:5px !important;}

.pt0{padding-top:0px !important;}
.pt10{padding-top:10px !important;}
.pt5{padding-top:5px !important;}

.pl5{padding-left:5px !important;}


.pb_50{padding-bottom:50px !important;}
.pb_0{padding-bottom:0 !important;}
.pb_10{padding-bottom:10px !important;}
.pb_5{padding-bottom:5px !important;}

.mt_5{margin-top:5px !important; }
.mt_10{margin-top:10px !important; }
.mt_0{margin-top:0px !important; }
.mt_15{margin-top:15px !important; }
.mb_0{margin-bottom:0px !important; }


.w48{width:48% !important;}
.w45{width:45% !important;}

.text-center{text-align:center !important;}
.text-right{text-align:right!important;}
.text-left{text-align:left !important;}
.text-justify{text-align:justify; text-justify:inter-ideograph;}

.fontsize_14{font-size:0.14rem!important;}
.fontsize_16{font-size:0.16rem!important;}
.fontsize_18{font-size:0.18rem!important;}
.fontsize_20{font-size:0.2rem!important;}

.font_normal{font-weight:normal!important;}

.clearfix::after, clearfix:after, clearfix after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }
.space{margin:0; padding:0; line-height:0; font-size:0; height:15px; overflow:hidden;}
.grayscale{ filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: url(desaturate.svg#grayscale);filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(1);}
.vertical { transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.vertical_center{ transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); }
.grayLayer{width:100%; height:100%; background:#eee;position:fixed; left:0; top:0; z-index:-1;}
.grayBg{background:#eee!important;}

#loading{background:rgba(255, 255, 255, 0);position:fixed; z-index:99; height:100%;width:100%; left:0; top:0;}
#loading span { display: block; width: 200px;height:110px;  position: absolute; left: 50%; top: 50%; margin-left: -100px; margin-top: -55px; text-align: center; font-size: 1.4rem;font-weight:300; padding-top:70px; background: url(../images/loading.gif) no-repeat center 20px #fff; border-radius:2px; -webkit-border-radius: 2px; /*-moz-box-shadow:0px 0px 8px  #e5e5e5; -webkit-box-shadow: 0px 0px 8px  #e5e5e5; box-shadow: 0px 0px 8px  #e5e5e5;*/ }
.loading_layer{ width: 100%; background: rgba(0, 0, 0, 0.54); position: fixed; left: 0; top: 0; height: 100%; z-index: 100; display:none;}
.loading_icon{position:absolute; left:50%; top:70%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);}


/****/
.f_Orange { color: #ff6700 !important; }
.f_blue{color:#3399FF!important;}
.f_black{color:#333!important; font-weight:normal;}
.f_red{color:#e50606!important; }
.f_lightGrey{color:#ccc!important; }
.f_green{color:#70c700!important;}
.f_light{color:#999!important; }
.f_navy{color:#00a9c8!important;}

/* WebKit browsers */
::-webkit-input-placeholder { color: #999; }
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { color: #999; }
/* Mozilla Firefox 19+ */
::-moz-placeholder { color: #999; }
/* Internet Explorer 10+ */
:-ms-input-placeholder { color: #999; }


/**button start **/
.default_btn { display: inline-block;background:#ff501a;  background: -webkit-gradient(linear,0% 0%, 100% 0%, from(#ff501a), to(#ff6920), color-stop(0.5,#ff5b1d)); background: -moz-linear-gradient(0% 0% 0deg, #ff501a,#ff6920); border: 0; width: 100%;height:0.88rem;  text-align: center; color: #fff; font-size:0.32rem; box-shadow: 0 0 15px #ea5e33; -webkit-box-shadow: 0 0 15px #ea5e33; -ms-box-shadow: 0 0 15px #ea5e33; -webkit-border-radius:0.44rem; -moz-border-radius: 0.44rem; border-radius: 0.44rem; }



/**button  end **/
/****/
.alert_layer{width:100%;height:100%;position:fixed;left:0; top:0; z-index:100;background:rgba(0, 0, 0, 0.50);}
.alert_box { background: #fff; width:70%; position: absolute; left: 15%; top: 50%;padding:2rem; transform: translateY(-50%); -webkit-transform: translateY(-50%); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.alert_cont{padding:1rem 2rem;}
.alert_cont p{text-align:center;color:#111;font-size: 1.6rem; line-height:24px;}
.alert_op{padding:1rem 0.5rem 0 0.5rem;}
.define_btn {display:inline-block; border: 1px solid #ccc; background: none;color:#555;font-size: 1.3rem;line-height:24px;vertical-align:middle;padding:5px 20px 2px 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.define_ra_btn {display:inline-block; border: 1px solid #ccc; background: none;color:#555;font-size: 1.3rem;line-height:24px;vertical-align:middle;padding:5px 24px 2px 24px; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; }
.alert_op_center{padding:1.5rem 0.5rem 0 0.5rem;text-align:center;}

/**/
.alert_Popups { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.54); position: fixed; left: 0; top: 0; z-index: 99; }
.Popups_box{ width:70%; position: absolute; left: 15%; top: 50%;-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);background: #fff;border-radius: 2px; -webkit-border-radius: 2px;    -moz-box-shadow: 0px 0px 18px #5e5e5e; -webkit-box-shadow: 0px 0px 18px #5e5e5e; box-shadow: 0px 0px 18px #5e5e5e; }
.Pop_header{padding:2px 20px 0 20px;line-height:40px;vertical-align:middle;  font-size: 16px; color:#555;font-weight:300;background:#f8f8f8;border-bottom:1px solid #eee;border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0;}
.Pop_cont{padding:20px; line-height:24px;font-size: 14px;}
.Pop_op{text-align:center;padding:15px 10px; background:#f0f4f7;border-radius:0 0 2px 2px; -webkit-border-radius:0 0 2px 2px;border-top:1px solid #c7c7c7;}

/****/
.header{background:#303030;position:relative;height:1.2rem; vertical-align:middle; overflow:hidden;}
.header .pic{display:inline-block;width:0.82rem;height:0.82rem;padding-left:0.2rem; padding-top:0.18rem;vertical-align:middle;float:left;}
.header .pic img { display: block; width: 0.82rem; height: 0.82rem;border:0.01rem solid #cacaca; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.header span{color:#ccc;font-size: 0.32rem;vertical-align:middle; display:inline-block; padding-left:0.35rem;line-height:1.2rem;}
.header a{float:right;display:inline-block;color:#ff501a;vertical-align:middle;font-size: 0.32rem; position:relative;line-height:1.2rem;padding-right:0.4rem;padding-left:0.55rem;}
.right_red_icon{display:block;width:0.16rem; height:0.28rem;position:absolute;right:0.1rem; top:50%;margin-top:-0.14rem;  background:url(../images/icon/right_red_icon.png) no-repeat left top;background-size:contain;}
.coin_icon{display:block;width:0.36rem; height:0.34rem;position:absolute;left:0.1rem; top:50%;margin-top:-0.17rem;  background:url(../images/icon/coin_icon.png) no-repeat left top;background-size:contain;}

.proHeader{padding:0.3rem 0 0.1rem 0.2rem; position:relative;}
.proHeader span{color:#333;font-size: 0.32rem;padding-left:0.15rem;}
.line_icon {position:absolute; left:0.2rem;bottom:0.2rem; display: block; width: 0.05rem; height: 0.28rem; background: #ff501a; font-size: 0; line-height: 0; -webkit-border-radius: 0.05rem; -moz-border-radius: 0.05rem; border-radius: 0.05rem; }
.mygrab_icon{display:block;width:2.14rem; height:0.7rem;background:url(../images/icon/mygrab_icon.png) no-repeat left top;background-size:contain; position:absolute;right:0;bottom:0;}

.prolist{}
.prolist li{background:#fff;margin-bottom:0.2rem;padding:0.2rem;position:relative;min-height:2.4rem;padding-left:2.4rem;}
.prolist li .pic{display:block;width:2rem; height:2rem;position:absolute; left:0.2rem;top:0.2rem;}
.prolist li .pic img{display:block;width:2rem; height:2rem;}
.prolist li .txt{padding-top:0.15rem;}
.prolist li h2{color:#111;font-size: 0.3rem;}
.prolist li h3{color:#ff501a;font-size: 0.28rem;padding-top:0.05rem;vertical-align:middle;}
.prolist li h3 s { display: inline-block; padding-left: 0.2rem; color: #999; font-size: 0.26rem; padding-right: 0.2rem; vertical-align:middle;}
.prolist li h3 label { display: inline-block; border: 0.01rem solid #ccc; background: #fffbfc;line-height:0.22rem; padding:0.12rem 0.14rem 0.08rem 0.14rem;  color: #555; font-size: 0.22rem; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;vertical-align:middle; }
.prolist li h4{padding-top:0.1rem;}
.prolist li h4 a{display:inline-block;color:#999;font-size: 0.3rem;}
.grab_icon{display:block;width:1.75rem; height:0.48rem;background:url(../images/icon/grab_icon.png) no-repeat left top;background-size:contain;}
.end_line{padding:0.1rem 0 0.3rem 0;text-align:center;position:relative;}
.end_line:before{content:" ";position:absolute; left:0; top:0.25rem;  width:100%;border-top:0.01rem dashed #8e8e8e;height:1px;}
.end_line span{display:inline-block;background:#eee;color:#888;font-size: 0.24rem; padding:0 0.1rem;position:relative; z-index:2;}

.bannerBox{position:relative; overflow:hidden;width:100%!important;}
.bannerBox .hd{ width:100%; height:10px;  position:absolute; z-index:1; bottom:10px; text-align:center;  }
.bannerBox .hd ul{ display:inline-block;height:10px; padding:0 10px; font-size:0; vertical-align:top;}
.bannerBox .hd ul li { display: inline-block; cursor: pointer; width: 10px; height: 10px; background: rgba(255, 255, 255, 0.4); margin: 0 2px; vertical-align: top; overflow: hidden; line-height: 0; font-size: 0; text-indent: -99999px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.bannerBox .hd ul .on{ background:#ff501a;  }
.bannerBox .bd{ position:relative; z-index:0;width:100%;}
.bannerBox .bd li{margin:0; padding:0; float:left;width:100%;overflow:hidden;}
.bannerBox .bd li img{width:100%;}


.pro_property{padding:0.2rem;}
.pro_property h2{color:#111;font-size: 0.3rem;}
.pro_property h3{color:#ff501a;font-size: 0.28rem;padding-top:0.05rem;vertical-align:middle;}
.pro_property h3 s { display: inline-block; padding-left: 0.2rem; color: #999; font-size: 0.26rem; padding-right: 0.2rem; vertical-align:middle;}
.pro_property h3 label { display: inline-block; border: 0.01rem solid #ccc; background: #fffbfc;line-height:0.22rem; padding:0.12rem 0.14rem 0.08rem 0.14rem;  color: #555; font-size: 0.22rem; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;vertical-align:middle; }
.pro_property p{text-align:center; padding:0.5rem 0.2rem 0.1rem 0.2rem;}
.rush_btn { display: inline-block;background:#FF501A;  background:-webkit-gradient(linear,0% 0%,60% 0%, from(#FF8720), to(#FF501A)); background:-moz-linear-gradient(50% 0% 180deg, #FF501A,#FF8720); border: 0; width:80%;text-align: center; color: #fff; font-size:0.32rem;height:0.88rem; line-height:0.88rem;  -webkit-border-radius:0.44rem; -moz-border-radius:0.44rem; border-radius:0.44rem; }

.doing_box{padding:0.2rem 0.3rem 0.2rem 0.35rem;color:#555;font-size: 0.26rem;line-height:0.44rem;}
.doing_box li{line-height:0.44rem;padding-bottom:0.05rem;position:relative;}
.doing_box li span{color:#4a8fed;position:relative;}
.doing_box li span:before { content: " "; width: 0.12rem; height: 0.12rem; font-size: 0; line-height: 0; position: absolute; left: -0.2rem; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); background: #4a8fed; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.doing_time{text-align:center;color:#ff501a;font-size: 0.32rem; line-height:0.4rem;padding:0 0.1rem;}
.doing_tips{text-align:center;font-size: 0.24rem;color:#999;padding-top:0.2rem;padding-bottom:0.2rem;}


.sum_wrap{padding:0.24rem 0.2rem;background:#eee;}
.sum_item { background: #ff501a;padding:0.2rem 0;  display: flex;border-radius: 0.08rem; }
.sum_item p{vertical-align:middle;border-right:0.01rem solid #f69f84;display:inline-block;-moz-box-align: center; -moz-box-direction: normal; -moz-box-flex: 1; -moz-box-orient: vertical; -moz-box-pack: center; align-items: center; display: flex; flex: 1 1 auto; flex-flow: column wrap; justify-content: center;}
.sum_item span{display:block;color:#fff;font-size: 0.6rem;padding-top:0.05rem;}
.sum_item b{display:block;color:#ffb5a8;font-size: 0.28rem;font-weight:normal; padding-bottom:0.05rem;position:relative; margin-top:-0.05rem}
.sum_item p:last-child{border-right:0; border-left:0.02rem solid #ef4714;}

.integral_list{}
.integral_list li{border-bottom:0.01rem solid #eaeaea;padding:0.2rem; position:relative;padding-right:1.4rem;}
.integral_list li h2{color:#555;font-size: 0.32rem; line-height:0.42rem;}
.integral_list li h2 span{color:#888;font-size: 0.26rem;}
.integral_list li p{color:#999;font-size: 0.22rem;}
.integral_list b{ font-weight:300; color:#111;font-size: 0.32rem; position:absolute;right:0.2rem;top:50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);}


.grab_tab{background:#fff;height:0.94rem;width:100%; position:fixed; left:0; top:0;z-index:4; display: flex;border-bottom:0.01rem solid #eaeaea;}
.grab_tab span{cursor:pointer;  vertical-align:middle;display:inline-block;-moz-box-align: center; -moz-box-direction: normal; -moz-box-flex: 1; -moz-box-orient: vertical; -moz-box-pack: center; align-items: center; display: flex; flex: 1 1 auto; flex-flow: column wrap; justify-content: center;}
.grab_tab span label{display:inline-block;color:#555;font-size: 0.32rem;line-height:0.94rem; position:relative;padding:0 0.12rem;}
.grab_tab span.on label {color:#ff501a;}
.grab_tab span.on label:before { content: " "; width: 100%; height: 0.01rem; border-bottom: 0.04rem solid #ff501a; position: absolute; left: 0; bottom: 0; -webkit-border-radius: 0.04rem; -moz-border-radius: 0.04rem; border-radius: 0.04rem; }

.grab_box{position:relative;z-index:1; padding-top:0.94rem;}



.grab_list{}
.grab_list li{background:#fff;margin-bottom:0.2rem;padding:0.2rem;position:relative;min-height:2.4rem;padding-left:2.4rem;}
.grab_list li .pic{display:block;width:2rem; height:2rem;position:absolute; left:0.2rem;top:0.2rem;}
.grab_list li .pic img{display:block;width:2rem; height:2rem;}
.grab_list li h2{color:#111;font-size: 0.3rem;padding-top:0.25rem;}
.grab_list li p{color:#999;font-size: 0.22rem;}
.grab_list li h3{color:#ff501a;font-size: 0.28rem;padding-top:0.15rem;vertical-align:middle;position:relative;}
.grab_list li h3 s { display: inline-block; padding-left: 0.25rem; color: #999; font-size: 0.26rem; vertical-align:middle;}
.draw_btn { display: inline-block; color: #ff501a; font-size: 0.28rem; font-weight: 300; padding: 0.04rem 0.2rem 0.01rem 0.2rem; position: absolute; right: 0; border: 0.01rem solid #ff501a; -webkit-border-radius: 0.24rem; -moz-border-radius: 0.24rem; border-radius: 0.24rem; }

.scan_layer { width:76%; background: #fff; padding: 0.4rem; position: fixed; left: 12%; top:50%; z-index: 100; transform: translateY(-50%); -webkit-transform: translateY(-50%); -webkit-border-radius: 0.2rem; -moz-border-radius: 0.2rem; border-radius: 0.2rem;box-shadow: 0 0 0.5rem rgba(177, 177, 177, 0.89); -webkit-box-shadow:0 0 0.5rem rgba(177, 177, 177, 0.89);  }
.scan_layer h2{text-align:center;color:#555;font-size: 0.28rem;padding-bottom: 0.1rem;}
.close_icon{display:block;position:absolute;right:-0.2rem;top:-0.24rem;width:0.58rem; height:0.58rem;background:url(../images/icon/close_icon.png) no-repeat left top;background-size:contain;}
.scan_pic{padding:0.1rem 0.2rem;}
.scan_pic canvas{width:100%!important;}

.has_list{}
.has_list li{background:#fff;margin-bottom:0.2rem;}
.has_list li .has_box{padding:0.2rem;position:relative;min-height:2.4rem;padding-left:2.4rem;}
.has_list li .pic{display:block;width:2rem; height:2rem;position:absolute; left:0.2rem;top:0.2rem;}
.has_list li .pic img{display:block;width:2rem; height:2rem;}
.has_list li h2{color:#111;font-size: 0.3rem;padding-top:0.25rem;}
.has_list li p{color:#999;font-size: 0.22rem;}
.has_list li h3{color:#ff501a;font-size: 0.28rem;padding-top:0.25rem;vertical-align:middle;position:relative;}
.rate_btn{ background:#fff; display: inline-block; color: #ff501a; font-size: 0.28rem; font-weight: 300; padding: 0.1rem 0.25rem 0.08rem 0.25rem; border: 0.01rem solid #ff501a; -webkit-border-radius: 0.3rem; -moz-border-radius: 0.3rem; border-radius: 0.3rem; }
.rate_btn:disabled{border:0.01rem solid #fff;color:#999;}
.rate_box{border-top:0.01rem solid #eee;padding:0.2rem;}
.rate_box h4{color:#555;font-size: 0.28rem;}
.has_list li .rate_box p{background:rgba(245, 242, 242, 0.69);padding:0.2rem;margin-top:0.2rem;color:#555;font-size:0.24rem;line-height:0.4rem;position:relative;}
.rate_box p:before{content:" ";border:0.18rem solid transparent;width:0;height:0;border-bottom:0.18rem solid rgba(245, 242, 242, 0.69);position:absolute; left:0.24rem; top:-0.36rem;}
.rate_box h5{color:#999;font-size: 0.22rem; padding-top:0.15rem;}


.rate_layer{width:100%;height:100%;position:fixed;left:0; top:0; z-index:100;background:rgba(0, 0, 0, 0.50);}
.rate_form { width: 94%; background: #fff; position: absolute; left: 3%; bottom: 0.2rem; -webkit-border-radius: 0.1rem; -moz-border-radius: 0.1rem; border-radius: 0.1rem; }
.rate_title{border-bottom:0.01rem solid #e5e5e5;padding:0.2rem;color:#111;font-size: 0.3rem;}
.rate_textarea{background:none;border:0; padding:0.2rem;color:#666;font-size: 0.26rem;width:100%;height:2rem; overflow:hidden;}

.rate_op{border-top:0.01rem solid #f2f2f2;padding:0.2rem 0.3rem;vertical-align:middle;}
.cancel_btn { display: inline-block; border: 0.01rem solid #e5e5e5; background: #fff; color: #555; padding: 0.1rem 0.36rem; font-size: 0.32rem; -webkit-border-radius: 0.36rem; -moz-border-radius: 0.36rem; border-radius: 0.36rem; }
.submit_btn { display: inline-block; border: 0.01rem solid #ff501a; background: #ff501a; color: #fff; padding: 0.1rem 0.36rem; font-size: 0.32rem; -webkit-border-radius: 0.36rem; -moz-border-radius: 0.36rem; border-radius: 0.36rem; }

.integral_layer{width:100%;height:100%;position:fixed;left:0; top:0; z-index:100;background:rgba(0, 0, 0, 0.50);}
.integral_box { width:86%;padding-bottom:0.4rem; background: #fff;position: fixed; left:7%; top:50%; z-index: 100; transform: translateY(-50%); -webkit-transform: translateY(-50%); -webkit-border-radius: 0.08rem; -moz-border-radius: 0.08rem; border-radius: 0.08rem;}
.integral_box h2{text-align:center; padding:0.2rem 0.1rem;color:#ff501a;font-size: 0.52rem;}
.int_op{text-align:center;padding:0.3rem 0.3rem 0.4rem 0.3rem;}
.integral_box .close_icon{top:-0.7rem;right:0;}

.apply_box{padding:0.3rem 0;}

.input_box{padding:0 0.2rem 0.2rem 0.2rem;position:relative;vertical-align:middle;}
.input_in_txt{width:100%; border:0.01rem solid #ccc;background:#fff;height:0.78rem;padding:0 0.1rem 0 1.7rem;font-size: 0.28rem;color:#666;}
.input_box span{display:block; color:#333;font-size: 0.28rem; border-right:0.01rem solid #ccc; line-height:0.76rem; text-align:center;width:1.5rem;vertical-align:middle;  position:absolute;left:0.21rem;height:0.75rem;top:0.01rem;background:#f8f8f8;}

.form-group{padding:0 0.2rem 0.2rem 0.2rem;position:relative;vertical-align:middle;}
.control-label{display:block;color:#333;font-size: 0.28rem;padding-bottom:0.1rem;padding-top:0.05rem;}
.form-control{width:100%; border:0.01rem solid #ccc;background:#fff;height:0.78rem;padding:0 0.1rem;font-size: 0.28rem;color:#666;}
textarea.form-control{width:100%;border:0.01rem solid #ccc;background:#fff;height:1.78rem;padding:0.1rem;font-size: 0.28rem;color:#666; overflow:hidden;}


.problem_input_box{padding:0 0.2rem 0.2rem 0.2rem;position:relative;vertical-align:middle;}
.problem_input_box p{color:#333;font-size: 0.28rem;padding-bottom:0.1rem;padding-top:0.05rem;}
.input_max{width:100%; border:0.01rem solid #ccc;background:#fff;height:0.78rem;padding:0 0.1rem;font-size: 0.28rem;color:#666;}


.problem_textarea_box{padding:0 0.2rem 0.2rem 0.2rem;position:relative;vertical-align:middle;}
.problem_textarea_box p{color:#333;font-size: 0.28rem;padding-bottom:0.1rem;padding-top:0.05rem;}
.textarea_txt{width:100%;border:0.01rem solid #ccc;background:#fff;height:1.78rem;padding:0.1rem;font-size: 0.28rem;color:#666; overflow:hidden;}


.problem_sort_title{background:#eee;margin:0.2rem 0; padding:0.12rem 0.2rem;color:#555;font-size: 0.34rem;}

.problem_radio_box{padding:0 0.2rem 0.2rem 0.2rem;position:relative;vertical-align:middle;}
.problem_radio_box p{color:#333;font-size: 0.28rem;padding-bottom:0.05rem;padding-top:0.05rem;}
.radio_span,.radio{display:block;padding-left:0.22rem;padding-right:0.25rem;white-space:nowrap;margin:0.05rem 0;padding-top:0.1rem;padding-bottom:0.05rem;}
.radio.radio-inline{display:inline-block!important;}
.radio_default ,.radio-inline .leipiplugins,.radio .leipiplugins{ display: none; }
.radio_default + label,.radio-inline .leipiplugins  + label ,.radio .leipiplugins  + label { white-space: nowrap;height:0.32rem;  padding-left:0.4rem; line-height:0.32rem; color: #555; font-size:0.28rem; -webkit-appearance: none; display: inline-block; background: url(../images/icon/no_icon.png) no-repeat left top;background-size:contain;  position: relative;vertical-align: middle; }
.radio_default:checked + label  ,.radio-inline .leipiplugins:checked  + label,.radio .leipiplugins:checked  + label{ background: url(../images/icon/yes_icon.png) no-repeat left center;background-size:contain;  }

.problem_check_box{padding:0 0.2rem 0.2rem 0.2rem;position:relative;vertical-align:middle;}
.problem_check_box p{color:#333;font-size: 0.28rem;padding-bottom:0.05rem;padding-top:0.05rem;}
.check_span,.checkbox-primary{display:block;padding-left:0.22rem;padding-right:0.25rem;white-space:nowrap;padding-top:0.1rem;padding-bottom:0.05rem;margin:0.05rem 0;}
.checkbox-inline{display:inline-block!important;}
.checkbox_default,.checkbox-inline .leipiplugins,.checkbox-primary .leipiplugins{ display: none; }
.checkbox_default + label,.checkbox-inline .leipiplugins  + label,.checkbox-primary .leipiplugins  + label{ white-space: nowrap;height:0.32rem;  padding-left:0.4rem; line-height:0.32rem; color: #555; font-size:0.28rem; -webkit-appearance: none; display: inline-block; background: url(../images/icon/check_icon.png) no-repeat left top;background-size:contain;  position: relative;vertical-align: middle; }
.checkbox_default:checked + label ,.checkbox-inline .leipiplugins:checked  + label ,.checkbox-primary .leipiplugins:checked  + label{ background: url(../images/icon/check_on_icon.png) no-repeat left center;background-size:contain;  }

.apply_op{text-align:center;padding:0.4rem 0.2rem;}


.success_layer{width:100%;height:100%;position:fixed;left:0; top:0; z-index:100;background:rgba(0, 0, 0, 0.50);}
.success_box{ width:86%;padding-bottom:0.4rem; background: #fff;position: fixed; left:7%; top:56%; z-index: 100; transform: translateY(-50%); -webkit-transform: translateY(-50%); -webkit-border-radius: 0.16rem; -moz-border-radius: 0.16rem; border-radius: 0.16rem;}
.success_layer .close_icon{right:0;top:-1.2rem; z-index:100;}
.suc_tips{width:114%;position:absolute; left:-7%;top:-40%; z-index:3;}
.suc_icon { position: absolute; width: 2.1rem; height: 2.1rem; left: 50%; margin-left: -1.05rem; top: -1.3rem; background: #fff; display: block; text-align: center; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; z-index: 1; }
.suc_icon i{position:absolute;left:50%;top:50%;margin-top:-0.48rem;margin-left:-0.48rem;  display:block;width:0.96rem; height:0.96rem;background:url(../images/icon/success_icon.png) no-repeat left top;background-size:contain;}
.success_box h2{text-align:center;color:#111;font-size: 0.42rem;padding:0.7rem 0.1rem 0.2rem 0.1rem;position:relative; z-index:4;}
.success_box p{color:#568fe0;font-size: 0.28rem;line-height:0.44rem;padding:0 0.3rem 0 0.4rem;}
.success_box h3{text-align:center;color:#ff501a;font-size: 0.28rem;padding:0.2rem 0.1rem 0 0.1rem;position:relative; z-index:4;}
.success_box h4{text-align:center;color:#888;font-size: 0.26rem;padding:0.1rem;position:relative; z-index:4;}
.suc_op{text-align:center;padding:0.3rem 0.2rem 0.1rem 0.2rem;}


